.contactus {
  display: flex;
  height: auto;
  padding: 4rem;
  margin-top: -0.5rem;
  background-color: white;
}
.contact-del {
  width: 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: aqua; */
  padding: 1rem;
}
.social-media {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;

  justify-content: center;
  width: 50%;
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 33rem;
  height: 30rem;
  padding: 0 1.5rem;
  padding-bottom: 1rem;
  /* box-shadow: 5px 5px 5px 5px gray; */
  border-radius: 0.1rem;
}
.form input {
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem;
  /* background-color:rgb(243, 239, 239); */
  border-radius: 0.5rem;
  outline: none;
  outline-style: none;
  border: 1px solid black;
}
.form button {
  height: 3rem;
  width: 10rem;
  border: 1px solid silver;
  /* color: white; */
  /* background-color: green; */
}
.form button:hover {
  background-color: transparent;
  color: gray;
}
.form label {
  margin-top: 10rem;
  color: black;
  font-weight: 500;
}
.form textarea {
  resize: none;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  outline-style: none;
  border: 1px solid gray;
}
.hold-field {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
.hold-field input {
  width: 100%;
  margin-top: 1rem;
}
.hold-field div {
  width: 100%;
}
.contact-del {
  flex-direction: column;
}

@media (max-width: 900px) {
  .contactus {
    flex-direction: column;
    align-items: center;
  }
  .contact-del {
    width: 100%;
  }
  .form {
    width: 90vw;
    /* background-color: aqua; */
  }
}
