.for-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  /* width: 100%; */
  gap: 0.5rem;
  /* background-color: aqua; */
}
.search-icon2 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
  /* margin-right: 30rem; */
  margin-top: -1rem;
  width: 3rem;
  background-color: transparent;
  height: 2rem;
  border-radius: 2rem;
  /* padding-left: 1rem; */
  font-style: normal;
  font-size: large;
  color: white;
  /* border: 1px solid silver; */
  /* z-index: -1; */
}
.for-input input {
  width: 70vw;
  background-color: transparent;
  height: 3rem;
  border-radius: 2rem;
  padding-left: 4rem;
  font-style: normal;
  font-size: large;
  color: white;
  border: 1px solid silver;
}
.for-input button {
  height: 3rem;
  border-radius: 2rem;
}
.welcome {
  width: 100%;
  height: 50vh;
}
.welcome div {
  background-image: linear-gradient(
      180deg,
      rgba(10, 5, 47, 0.8) 0%,
      rgba(18, 6, 46, 0) 43.75%,
      #03032c 100%
    ),
    url(../../assets/codebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  color: silver;
}
.no-result {
  height: auto;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.no-result img {
  height: 10rem;
  border-radius: 5rem;
  width: 10;
}
@media (max-width: 900px) {
  .for-input input {
    width: 60vw;
  }
  .search-icon2 {
    width: 3rem;
  }
  
}
