/*second icon*/

.icon-container2 {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  border: 1px solid #03032c;
  /* background-color: aqua; */
  padding: 1rem;
  color: white;
  width: 90%;
}
.back-img {
  cursor: pointer;
}
.icon-header {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  padding: 0rem 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  /* background-color: rgb(100, 91, 91); */
}
.icon-header h1 {
  /* height: 60%; */
  /* background-color: aqua; */

  box-sizing: border-box;
}
.icon-header p {
  box-sizing: border-box;
  /* height: 20%; */
  /* background-color: antiquewhite; */
}
.text1 {
  height: 1rem;
}
.text1 {
  height: 1rem;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 2px solid silver;
}
.dec2 {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
  font-weight: bold;
}
@media (max-width: 900px) {
  .icon-container {
    width: 100%;
    height: auto;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .art-info {
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    /* width: 100%; */
    /* justify-content: center; */
    padding: 1rem 0;
  }
  .course-img {
    width: 100%;
    /* height: 15rem; */
    /* margin-top: 10rem; */
    /* position: relative; */
    /* z-index: -1; */
  }
  .details {
    margin-top: -12rem;
    height: auto;
    padding-bottom: 2rem;
    z-index: +1;
    /* width: 100%; */
    /* background-color: brown; */
    color: white;
    background: rgba(0, 0, 0, 0.6);
  }
}
