.icon-container {
  display: flex;
  flex-direction: column;
  height: 26rem;
  width: 100%;
  background-color: white;
  background-color: transparent;
  border-radius: 2rem;
  color: white;
  /* box-shadow:2px 2px 2px 2px; */
  /* border: 1px solid white; */
  /* text-align: center; */
  /* padding: 1rem; */
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
.icon-container:hover {
  /* border: 1px solid aqua; */
  .write {
    border-bottom: 2px solid silver;
  }
  .featur {
    border-top: 2px solid silver;
  }
}
.writer {
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1rem;
  padding: 0.5rem 2rem;
  height: 4rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom: 2px solid transparent;
}

.dp {
  height: 3rem;
  width: 4rem;
  border-radius: 2rem;
}
.hold-name {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  /* background-color: aqua; */
  height: 4rem;
  /* gap: 1px; */
}
.hold-name h3 {
  margin-top: -0.001rem;
}
.hold-name p {
  margin-top: -0.5rem;
}
.feature {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  height: 5rem;

  /* background-color: red; */
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top: 2px solid transparent;
}
.feature button {
  background-color: green;
  /* color: v; */
  color: white;
  width: auto;
  border: 1px solid silver;
  border-radius: 2rem;
}
.art-info {
  height: 17rem;
  width: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: aqua; */
  color: black;
}
.details {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  color: gray;
  /* background-color: red; */
  width: 50%;
}
.details h2 {
  color: white;
  /* height: 2rem; */
  text-align: center;
}
.detailsw p {
  display: flex;
  text-align: center;
  width: 100%;
  height: auto;
  /* background-color: aqua; */
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.description {
  display: flex;
  align-items: center;
  height: auto;
}
.course-img {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 14rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/*second icon*/

@media (max-width: 900px) {
  .icon-container {
    width: 90%;
    /* height: auto; */
    /* padding: 2rem 0; */
    /* border: 1px solid white; */
    /* background-color: aqua; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .art-info {
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    /* width: 100%; */
    /* justify-content: center; */
    padding: 1rem 1rem;
  }
  .course-img {
    width: 90%;
    /* height: 50%; */
    /* margin-top: 10rem; */
    /* position: relative; */
    /* z-index: -1; */
    background: rgba(0, 0, 0, 0.6);
  }
  .details {
    /* margin-top: 12rem; */
    height: auto;
    /* padding-bottom: 2rem; */
    /* z-index: +1; */
    /* width: 100%; */
    /* background-color: brown; */
    color: white;
    /* background: rgba(0, 0, 0, 0.6); */
  }
  .description {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    /* width: 50%; */
    /* align-items: center; */
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    /* height: 20rem; */
  }
  .hold-description {
    width: 66vw;
    height: 100%;
    padding: 0 0.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.6);
  }
  .feature{
    padding: 0 1rem;
    /* border: 5px solid wheat; */
  }
}
