.cover-contain {
  box-sizing: border-box;
}
.background-cover {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(../../assets/codedef.png); */
padding: 3rem 1rem;
  margin-top: -1.5rem;
  color: white;
}
.cover-header {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  /* background-color: rgb(100, 91, 91); */
}
.cover-header img{
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
}
.mode {
  display: flex;
  z-index: +2;
  height: 0%;
  float: right;
  width: 90%;
  margin-top: -20rem;
  justify-content: space-between;
  /* margin-left: 28rem; */
  position: fixed;
  color: silver;
  /* background-color: blue; */
}

.moon {
  color: silver;
  /* background-color: white; */
  /* width: 10%; */
}
.moon:hover {
  background-color: black;
  border-radius: 3rem;
}
.light {
  color: aqua;
}
.light:hover {
  background-color: silver;
  border-radius: 3rem;
}

.margin {
  height: 7rem;
  /* background-color: aqua; */
}
.add {
  position: static;
  display: flex;
  width: 95%;
  justify-content: flex-end;
  margin-top: -3rem;
  color: black;
  color: aqua;
  cursor: pointer;
  /* width: 10rem; */
  size: 90;
  /* padding-right: 5rem; */
  /* background-color: tomato; */
}
.add div {
  border-radius: 3rem;
  padding: 1rem;
  /* background-color: silver; */
}
