.article-cat {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem 1rem;
  /* align-items: center; */
  /* background-color: aqua; */
  height: 50vh;
}
.hold-result{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-evenly;
}
.article-cat::-webkit-scrollbar {
  outline: none;
  width: 10px;
}

.article-cat::-webkit-scrollbar-track {
  background-color: white;
}
.article-cat::-webkit-scrollbar-thumb {
  background-color: #03032c;
}

.article-cat::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px gray; */
  border-radius: 10px;
}
.article-cat::-webkit-scrollbar-button {
  color: #000;
}
