.App {
  background-color: #03032c;
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  /* height: auto; */
  flex-wrap: wrap;
  /* color: red; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float {
  position: fixed;
  margin-top: 8rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: transparent;
  z-index: +5;
}
.float div {
  border-radius: 2rem;
  padding: 0.2rem;
}
.float div:hover {
  background-color: silver;
}
.float:hover {
  color: #03032c;
}

.icon1 {
  /* outline-color:aqua ; */
  border: 1px solid aqua;
  cursor: pointer;
}
.icon1:hover {
  border: 1px solid transparent;
}
.course {
  display: flex;
  flex-direction: column;
  /* width: 99%; */
  /* align-items: center; */
  /* justify-content: center; */
}
.marginn {
  background-color: transparent;
  height: 7rem;
}
@media screen and (max-width: 500px) {
  .marginn {
    height: 5rem;
  }
}
